In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib_fontja

## 前処理

### 読み込み

In [18]:
### Read data
data_path_1 = '../data/ssdse/SSDSE-A-2024-2019.csv'
df_1 = pd.read_csv(data_path_1, encoding='shift_jis')

df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   地域コード       1741 non-null   object
 1   都道府県        1741 non-null   object
 2   市区町村        1741 non-null   object
 3   農家数（販売農家）   1741 non-null   int64
 4   農家数（自給的農家）  1741 non-null   int64
dtypes: int64(2), object(3)
memory usage: 68.1+ KB

In [10]:
### Read data
data_path_1 = '../data/ssdse/modified/SSDSE-A-2024-2019.csv'
df_1 = pd.read_csv(data_path_1, encoding='utf-8')

df_1.head()

    地域コード 都道府県 市区町村  農家数（販売農家）  農家数（自給的農家）
0  R01100  北海道  札幌市        347         280
1  R01202  北海道  函館市        146         132
2  R01203  北海道  小樽市         54          58
3  R01204  北海道  旭川市        843         273
4  R01205  北海道  室蘭市         12           8

### 加工

#### 集約

In [19]:
### Read data
data_path_2 = '../data/ssdse/modified/SSDSE-A-2024-2020.csv'
data_path_3 = '../data/ssdse/modified/SSDSE-A-2024-2021.csv'
data_path_4 = '../data/ssdse/modified/SSDSE-A-2024-2021.csv'
df_2 = pd.read_csv(data_path_2, encoding='utf-8')
df_3 = pd.read_csv(data_path_3, encoding='utf-8')
df_4 = pd.read_csv(data_path_4, encoding='utf-8')